body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #eeeeee;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    background-color: #444;
    color: white;
}

button:hover {
    background-color: #666;
}

.equals {
    background-color: orange;
    color: white;
}

.equals:hover {
    background-color: darkorange;
}